<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{library}">Library</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

    <body>

    <nav class="navbar navbar-default navbar-expand-lg bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link active bg-gray" href="/books" th:text="#{library}">Library</a></li>
                <li><a class="nav-link disabled" href="/books" th:text="#{books}">Books</a></li>
                <li><a class="nav-link active" href="/subscriptions" th:text="#{subscriptions}">Subscriptions</a></li>
                <li th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                    <a class="nav-link active" href="/users" th:text="#{users}">Users</a>
                </li>
                <li><a class="nav-link active" href="/account" th:text="#{account}">Account</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li><a class="nav-link active bg-gray ml-auto"
                       th:href="@{?pageNo=__${currentPage}__&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__&amp;lang=__#{lang_code}__}"
                       th:text="#{lang}"></a>
                </li>
                <li><a class="nav-link active" sec:authorize="!isAuthenticated()" href="/login"
                       th:text="#{login}">Login</a>
                </li>
                <li><a class="nav-link active" sec:authorize="isAuthenticated()" href="/logout"
                       th:text="#{logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="title" th:text="#{books}">Books</h1>
        <h3><a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
               class="btn btn-primary" href="/add-book"  th:text="#{add_book}">Add book</a></h3>

        <form method="get" action="/books" class="mt-4 mb-2">
            <input type="text" name="query" placeholder="Search...">
            <select name="field" class="ml-4">
                <option value="title" th:text="#{title}">Title</option>
                <option value="author" th:text="#{author}">Author</option>
            </select>
            <button type="submit" th:text="#{search}" class="btn btn-primary ml-4">Search</button>
        </form>

        <form method="get" action="/books" class="my-2">
            <select name="sortField">
                <option value="title" th:text="#{title}">Title</option>
                <option value="author" th:text="#{author}">Author</option>
                <option value="publicationYear" th:text="#{publication_year}">Publication year</option>
            </select>
            <select name="sortOrder" class="ml-4">
                <option value="asc" th:text="#{ascending}">Ascending</option>
                <option value="desc" th:text="#{descending}">Descending</option>
            </select>
            <button type="submit" th:text="#{sort}" class="btn btn-primary ml-4">Sort</button>
        </form>

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col"><a href="?sortField=title" th:text="#{title}">Title</a></th>
                <th scope="col"><a href="?sortField=author" th:text="#{author}">Author</a></th>
                <th scope="col"><a href="?sortField=publicationYear" th:text="#{publication_year}">Publication year</a></th>
                <th scope="col" th:text="#{order}">Order</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.getPublicationYear()}"></td>
                <td th:if="${book.getAvailableCopies() == 0}" th:text="#{no_copies}">No available copies</td>
                <td th:if="${book.getAvailableCopies() > 0}">
                    <form method="POST" action="/order">
                        <input type="hidden" name="bookId" th:value="${book.getId()}"/>
                        <button type="submit" class="btn btn-primary" th:text="#{order}">Order</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination justify-content-center">
        <ul class="pagination">
            <li>
                <a class="nav-link"
                   th:classappend="${currentPage == 1}? 'disabled'"
                   th:href="@{?pageNo=1&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__}"> &laquo; </a>
            </li>
            <li>
                <a class="nav-link"
                   th:classappend="${currentPage == 1}? 'disabled'"
                   th:href="@{?pageNo=__${currentPage - 1}__&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__}">&lsaquo;</a>
            </li>
            <li th:each="page : ${#numbers.sequence(1, totalPages)}">
                <a class="nav-link"
                   th:classappend="${currentPage == page} ? 'disabled'"
                   th:href="@{?pageNo=__${page}__&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__}"
                   th:text="${page}"></a>
            </li>
            <li>
                <a class="nav-link"
                   th:classappend="${currentPage == totalPages} ? 'disabled'"
                   th:href="@{?pageNo=__${currentPage + 1}__&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__}">&rsaquo;</a>
            </li>
            <li>
                <a class="nav-link"
                   th:classappend="${currentPage == totalPages} ? 'disabled'"
                   th:href="@{?pageNo=__${totalPages}__&amp;sortField=__${sortField}__&amp;sortOrder=__${sortOrder}__}">&raquo;</a>
            </li>
        </ul>
    </div>

    </body>
</html>