<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

    <body>

    <nav class="navbar navbar-default navbar-expand-lg bg-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a class="nav-link active bg-gray" href="/books">Library</a></li>
                <li><a class="nav-link active disabled" href="/books">Books</a></li>
                <li><a class="nav-link active" href="/orders">Subscriptions</a></li>
                <li><a class="nav-link active" href="/readers">Readers</a></li>
                <li><a class="nav-link active" href="/librarians">Librarians</a></li>
                <li><a class="nav-link active" href="/account">Account</a></li>
                <li><a class="nav-link active" sec:authorize="!isAuthenticated()" href="/login">Login</a></li>
                <li>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-link text-decoration-none" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="title">Books</h1>
        <h3><a class="nav-link active" href="/add-book">Add book</a></h3>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Order</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationDate}"></td>
                <td th:if="${book.availableCopies == 0}">No available copies</td>
                <td th:if="${book.availableCopies > 0}">
                    <form method="POST" action="/order">
                        <input type="hidden" name="bookId" th:value="${book.id}"/>
                        <button type="submit" class="btn btn-primary">Order</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>


