<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-default navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link active bg-gray" href="/books" th:text="#{library}">Library</a></li>
            <li><a class="nav-link active" href="/books" th:text="#{books}">Books</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li><a class="nav-link active bg-gray ml-auto"
                   th:href="'?lang='+#{lang_code}" th:text="#{lang}"></a>
            </li>
        </ul>
    </div>
</nav>

<h5 th:if="${param.error}" th:text="#{invalid_login}">Invalid username or password</h5>
<h5 th:if="${param.logout}" th:text="#{logged_out}">You have been logged out</h5>
<h5 th:if="${signup}" th:text="#{success_signup}">Registration successful. Please log in</h5>

<form th:action="@{/login}" method="post" class="m-4">
    <div class="my-2">
        <label for="username" th:text="#{email}">Email:</label>
        <input type="text" id="username" name="username" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
    </div>
    <div class="my-2">
        <label for="password" th:text="#{password}">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <input type="submit" th:value="#{login}" class="btn btn-primary my-2">
</form>
<h5 th:text="#{no_account}" class="m-4">Don't have an account?</h5>
<a href="/register" th:text="#{signup}"  class="ml-4"></a>
</body>
</html>