<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-default navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link active bg-gray" href="/books" th:text="#{library}">Library</a></li>
            <li><a class="nav-link active" href="/books" th:text="#{books}">Books</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li><a class="nav-link active bg-gray ml-auto"
                   th:href="'?lang='+#{lang_code}" th:text="#{lang}"></a>
            </li>
        </ul>
    </div>
</nav>

<div th:if="${param.error}" th:text="#{invalid_login}">
    Invalid username and password
</div>
<div th:if="${param.logout}" th:text="#{logged_out}">
    You have been logged out
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username" th:text="#{email}">Email:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password" th:text="#{password}">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <input type="submit" th:value="#{login}">
    </div>
</form>
</body>
</html>