<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="icon" href="/img/icon.png" type="image/png">

    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-default navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link active bg-gray" href="/books" th:text="#{library}">Library</a></li>
            <li><a class="nav-link active" href="/books" th:text="#{books}">Books</a></li>
            <li><a class="nav-link disabled" href="/subscriptions" th:text="#{subscriptions}">Subscriptions</a></li>
            <li th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}">
                <a class="nav-link active" href="/users" th:text="#{users}">Users</a>
            </li>
            <li><a class="nav-link acrive" href="/account" th:text="#{account}">Account</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li><a class="nav-link active bg-gray ml-auto"
                   th:href="'?lang='+#{lang_code}" th:text="#{lang}"></a>
            </li>
            <li><a class="nav-link active" sec:authorize="!isAuthenticated()" href="/login"
                   th:text="#{login}">Login</a>
            </li>
            <li><a class="nav-link active" sec:authorize="isAuthenticated()" href="/logout"
                   th:text="#{logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="title" th:text="#{subscriptions}">Subscriptions</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th th:text="#{title}">Title</th>
            <th th:text="#{author}">Author</th>
            <th th:text="#{publication_year}">Publication year</th>
            <th th:text="#{status}">Status</th>
            <th th:text="#{order_date}">Order date</th>
            <th th:text="#{return_date}">Return date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.getBook().getTitle()}"></td>
            <td th:text="${subscription.getBook().getAuthor()}"></td>
            <td th:text="${subscription.getBook().getPublicationYear()}"></td>
            <td th:text="${subscription.isApproved()} ? #{approved} : #{pending}"></td>
            <td th:text="${subscription.isApproved()} ? ${subscription.getStartDate()} : #{pending}"></td>
            <td th:text="${subscription.isApproved()} ? (${subscription.getFine() != 0} ?
            #{overdue} + ${subscription.getFine()} :
            ${subscription.getStartDate().plusDays(subscription.getPeriod())}) : #{pending}"></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>